body
{
	font-family : "Trebuchet MS", Helvetica, sans-serif;
	color: white;
	background-color: #333333;
}

hr
{
	border: 0;
	height: 1px;
	display: block;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,0.75), rgba(0,0,0,0));
}

.p-ok
{
	color: #99EE99;
}

.p-error
{
	color: #EE9999;
}

.default
{
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15), 0 0 6px rgba(0,0,0, 0.50);
	border-radius: 5px;
}

.ui-frame
{
	
	box-shadow: 0 0 0 1px rgba(0,2,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.50) inset;
	position: relative;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

.button-enabled
{
	font-family: inherit;
	border-radius: 2px;
	padding: 0.5em 1em;
	color: rgba(0,0,0, 0.8);
	margin: 3px 0;
	border: none rgba(0,0,0,0);
}

.button-enabled::-moz-focus-inner, .button-disabled::-moz-focus-inner
{
	padding: 0;
	border: 0;
}

.button-enabled:focus, .button-enabled:hover
{
	background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

.button-enabled:focus
{
	outline: 0;
}

.button-enabled:active
{
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,255,0, 0.50) inset;
}

.button-disabled, .button-disabled:focus, .button-disabled:hover, .button-disabled:active
{
	font-family: inherit;
	border-radius: 2px;
	padding: 0.5em 1em;
	border: none rgba(0,0,0,0);
	opacity: 0.4;
	margin: 3px 0;
	color: rgba(0,0,0, 0.8);
	cursor: not-allowed;
	box-shadow: none;
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
	background: rgba(125, 125, 125, 1);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(50, 50, 50, 1); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	background: #DDDDDD;
	border-radius: 10px;
	width: 10px;
}